h1 NearbyCampaigns#index
#map style="height: 400px; "
script
  | $(document).ready(function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers('#{ raw generate_markers(@campaigns) }');
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
    });
  })